@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
head {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background: #1D212B; */
}
header {
  box-sizing: border-box;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 9%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  transition: 0.6s;
  padding-top: 6px;
  overflow: hidden;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3),
    0 0 0 2px rgb(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

header.sticky {
  /* background: linear-gradient(to right, #06beb6,  #48b1bf);  */
  background: linear-gradient(to right, #141e30, #243b55);
  /* background: #c8a2c8; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding: 6px 60px;
  overflow: hidden;
}
header .brand {
  position: absolute;
  left: 2%;
  top: 6%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.3s;
  transition-property: color, background;
  background-image: url("https://github.com/varshith-k/bookmySeva/blob/master/img/logo.png?raw=true");
}
header .brand_icon {
  color: #dadde2;
  /* background: #000; */
}

header .brand_icon:hover {
  color: #b1bdc5;
  /* background: #fff; */
}

header .brand a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.6s;
  transition-property: color, background;
}

header .menu {
  position: relative;
  display: flex;
  left: 3%;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
}

header .menu a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover {
  color: #000;
  background: #fff;
}
header .brand a:hover {
  color: #000;
  background: #fff;
}

header .header_btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

p {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 0;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: auto;
  border-radius: 7px;
}
.img-slider {
  position: relative;
  width: 100 vw;
  height: 100vh;
  background: #dadcd2;
}

.img-slider .a.slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(30% at 0 100%);
}
.img-slider .b.slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(30% at 0 100%);
}
.img-slider .c.slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(30% at 0 100%);
}
.img-slider .d.slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(30% at 0 100%);
}
.img-slider .e.slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(30% at 0 100%);
}
.img-slider .e.slide.active {
  margin: 0%;
  /* padding-right: 10%; */
  position: absolute;
  min-height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #000;
  background-image: url("https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  /* background-image: url(https://images.unsplash.com/photo-1594392175506-29798601d67e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
  background-size: cover;
  clip-path: circle(150% at 0 50%);
  transition: 0.8s;
  transition-property: clip-path;
}

.img-slider .b.slide.active {
  position: absolute;
  min-height: 100vh;
  max-width: 100 vw;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #000;
  /* background-image: url("https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");  */
  background-image: url(https://images.unsplash.com/photo-1534297635766-a262cdcb8ee4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  clip-path: circle(150% at 0 50%);
  transition: 0.8s;
  transition-property: clip-path;
}
.img-slider .c.slide.active {
  position: absolute;
  min-height: 100vh;
  max-width: 100 vw;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #000;
  /* background-image: url("https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");  */
  background-image: url(https://images.pexels.com/photos/5974355/pexels-photo-5974355.jpeg?cs=srgb&dl=pexels-ono-kosuki-5974355.jpg&fm=jpg);
  background-size: cover;
  clip-path: circle(150% at 0 50%);
  transition: 0.8s;
  transition-property: clip-path;
}

.img-slider .d.slide.active {
  position: absolute;
  min-height: 100vh;
  max-width: 100 vw;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #000;
  /* background-image: url("https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");  */
  background-image: url(https://images.unsplash.com/photo-1557785580-8dc4c49126a6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YnV0Y2hlciUyMHNob3B8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-size: cover;
  clip-path: circle(150% at 0 50%);
  transition: 0.8s;
  transition-property: clip-path;
}

.img-slider .a.slide.active {
  position: absolute;
  min-height: 100vh;
  max-width: 100 vw;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #000;
  /* background-image: url("https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");  */
  background-image: url(https://images.pexels.com/photos/6205600/pexels-photo-6205600.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  clip-path: circle(150% at 0 50%);
  transition: 0.8s;
  transition-property: clip-path;
}

.img-slider .a.slide img {
  z-index: 1;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-slider .b.slide img {
  z-index: 1;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-slider .c.slide img {
  z-index: 1;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-slider .d.slide img {
  z-index: 1;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-slider .e.slide img {
  z-index: 1;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-slider .a.slide .info {
  position: absolute;
  padding: 5 px 5 px;
  margin: 0%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-slider .b.slide .info {
  position: absolute;
  padding: 5 px 5 px;
  margin: 0%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img-slider .c.slide .info {
  position: absolute;
  padding: 5 px 5 px;
  margin: 0%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-slider .d.slide .info {
  position: absolute;
  padding: 5 px 5 px;
  margin: 0%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-slider .e.slide .info {
  position: absolute;
  padding: 5 px 5 px;
  margin: 0%;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-slider .a.slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.img-slider .b.slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.img-slider .c.slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}
.img-slider .d.slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}
.img-slider .e.slide .info h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.img-slider .a.slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 30vw;
}

.img-slider .b.slide .info p {
  /* color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  top : 50%;
  left: 50%; */
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 30vw;
}

.img-slider .c.slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 30vw;
}

.img-slider .d.slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 30vw;
}

.img-slider .e.slide .info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  max-width: 30vw;
}

.img-slider .navigation {
  z-index: 2;
  justify-content: center;
  position: relative;
  display: flex;
  top: 93%;
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  padding: 0px 12px;
  height: 6px;
  margin: 10px;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #e2e5da;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
