@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?5t4dgr");
  src: url("fonts/icomoon.eot?5t4dgr#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?5t4dgr") format("truetype"),
    url("fonts/icomoon.woff?5t4dgr") format("woff"),
    url("fonts/icomoon.svg?5t4dgr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-moon"],
[class*=" icon-moon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moonlogo_font:before {
  content: "\e901";
  font-size: 200px;
  justify-content: center;
  display: flex;
  padding-bottom: 4px;
}
.icon-moonhome_cleaning:before {
  content: "\e900";
  font-size: 48px;
  justify-content: center;
  display: flex;
  color: rgb(249, 91, 84);
}
.icon-moonplumber:before {
  content: "\e902";
  color: #6495ed;
  font-size: 48px;
  justify-content: center;
  display: flex;
}
.icon-moonuser:before {
  content: "\e903";
  font-size: 48px;
  justify-content: center;
  display: flex;
  color: #5a5a54;
  opacity: 200%;
}
.icon-moonpower:before {
  content: "\e9b5";
  font-size: 48px;
  justify-content: center;
  display: flex;
  color: rgb(237, 251, 5, 0.8);
}
