html,body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    position: relative;
}
@media only screen and (max-width:450px){
    .bg-transpar{
        background: rgba(128, 128, 128, 0.411);
        backdrop-filter: blur(7px);
        width: 16rem;
    }
}
.bg-transpar{
    background: rgba(128, 128, 128, 0.411);
    backdrop-filter: blur(7px);
    font-size: larger;
}
.bg{
    position: relative;
    min-height: 100vh;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.home {
    background-image: url("images/home-image.jpeg");
}
.why {
    background-image: url("images/hand-shake.jpg");
}
.how {
    background-image: url("images/wallpaper.jpg");
}
.projects {
    background-image: url("images/dark-bg.jpg");
}
.experience {
    background-image: url("images/wallpaper.jpg");
}
.contact {
    background-image: url("images/contact-us.jpg");
}